# **Even-Odd**

In [1]:
liste = list(range(10))

In [2]:
print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
tek_sayilar = []
cift_sayilar= []

for i in liste:
    if ((i)%2) == 0 and i != 0:
        cift_sayilar.extend([i])
    elif i != 0:
        tek_sayilar.extend([i])
        
print("Tek Sayilar: " + str(tek_sayilar))
print("Cift Sayilar: " + str(cift_sayilar))

Tek Sayilar: [1, 3, 5, 7, 9]
Cift Sayilar: [2, 4, 6, 8]

### **List Comprehension ile**

In [42]:
cift_sayi = [x for x in range(1,11) if x%2 == 0]
tek_sayi = [x for x in range(1,11) if x%2 == 1]
print("Cift sayilar: " + str(cift_sayi) + "\nTek sayilar: " + str(tek_sayi))

Cift sayilar: [2, 4, 6, 8, 10]
Tek sayilar: [1, 3, 5, 7, 9]

In [56]:
print("Cift Sayilar= " + str([i for i in range(10) if i%2==0 and i!=0])
      +"\nTek Sayilar= " + str([i for i in range(10) if i%2 != 0]))

Cift Sayilar= [2, 4, 6, 8]
Tek Sayilar= [1, 3, 5, 7, 9]

In [33]:
even_odd = [print(x, "cift") if x%2==0 else print(x,"tek") for x in range(1,11)]

1 tek
2 cift
3 tek
4 cift
5 tek
6 cift
7 tek
8 cift
9 tek
10 cift

# **Text Analyzer**

In [9]:
filename = input("Enter a filename: ")
text = open(filename, "w+")

text.write("""\nBeautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than rightnow.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!""")

text.close()

with open(filename) as f:
    text = f.read()
print(text)

Enter a filename:  test

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than rightnow.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [16]:
def count_char(text, char):
    count = 0
    for c in text:
        if c==char:
            count+=1
    return count

print("count: "+str(count_char(text, "a")))

count: 50

In [17]:
#Ayni islemi python'da yerlesik fonksiyon ile yapalim.
def count_char(text, char):
    return text.count(char)

print("count: "+str(count_char(text, "a")))

count: 50

In [18]:
for char in "implementation":
    perc = 100*count_char(text, char)/len(text)
    print("{0} - {1}%".format(char, round(perc, 2)))

i - 5.98%
m - 1.83%
p - 2.44%
l - 4.02%
e - 10.49%
m - 1.83%
e - 10.49%
n - 4.63%
t - 9.02%
a - 6.1%
t - 9.02%
i - 5.98%
o - 5.0%
n - 4.63%

### **Recursion**

In [5]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(5))

120

In [2]:
print("\"tırnak arasındaki metin\"")

"tırnak arasındaki metin"

In [4]:
print("Gül sokak 10\\7 merkez\\niğde")

Gül sokak 10\7 merkez\niğde

In [10]:
print("eski satırbaşı \ryeni")

yeni satırbaşı

In [11]:
print(r"recep\naydogdu\tbosluk")

recep\naydogdu\tbosluk

In [14]:
print("üs hesaplamak için")
sayi1 = int(input("Taban sayıyı girin: "))
sayi2 = int(input("üs sayıyı girin: "))
print(sayi1,"**",sayi2, "=", pow(sayi1,sayi2))

üs hesaplamak için

Taban sayıyı girin:  1
üs sayıyı girin:  2

1 ** 2 = 1

In [2]:

    kullanici = "test"
    sifre = "test"

    sorulan_kullanici = input("Kullanıcı adı girin: ")
    sorulan_sifre = input("sifre girin: ")

    if kullanici==sorulan_kullanici and sifre==sorulan_sifre:
        print("giriş başarılı")
    elif not sorulan_kullanici:
        print("kullanıcı adı girmediniz")
    elif not sorulan_sifre:
        print("sifre girmediniz")
    else:
        print("kullanıcı adı yada şifre yanlış")

Kullanıcı adı girin:  asd
sifre girin:  asd

kullanıcı adı yada şifre yanlış

In [9]:
cumle = """Python, nesne yönelimli, yorumlamalı, 
birimsel ve etkileşimli yüksek seviyeli bir programlama dilidir."""

aranacaksozcuk = input("sözcük gir: ")

if aranacaksozcuk in cumle:
    print("aranan sözcük var")
else:
    print("yok")

sözcük gir:  asd

yok

In [10]:
from random import randint

sayilar=[]
for i in range(15):
    sayilar.append(randint(-10,10))
    
print(sayilar)

[-7, 9, -6, -2, 4, 4, 8, -7, -4, 8, 5, 9, -8, 7, -10]

In [15]:
string = "{} fonksiyonunun çıktısı => {}"

print("Liste: {}".format(sayilar))
print(string.format("max()", max(sayilar)))
print(string.format("min()", min(sayilar)))
print(string.format("sum()", sum(sayilar)))

Liste: [-7, 9, -6, -2, 4, 4, 8, -7, -4, 8, 5, 9, -8, 7, -10]
max() fonksiyonunun çıktısı => 9
min() fonksiyonunun çıktısı => -10
sum() fonksiyonunun çıktısı => 10

In [26]:
def not_hesapla(ad, puanlar):
    
    ortalama = sum(puanlar) / len(puanlar)
    
    if ortalama > 90:
        harf = "A"
    elif ortalama > 80:
        harf = 'B'
    elif ortalama > 60:
        harf = 'C'
    elif ortalama > 50:
        harf = 'D'
    else:
        harf = 'F'
        
    print(f"\nİsim: {ad}\nOrtalama: {ortalama:.2f}\nHarf Notu: {harf}\n", end="-"*20)
    
not_hesapla("Recep Aydoğdu", (45,55,60,90,100))
not_hesapla("ahmet Aydoğdu", (89,55,60,65,70))
not_hesapla("ayça Aydoğdu", (50,23,55,45,34))
not_hesapla("mehmet Aydoğdu", (50,34,60,78,70))
not_hesapla("veli Aydoğdu", (50,95,60,45,70))
not_hesapla("zeki Aydoğdu", (50,55,67,78,70))

İsim: Recep Aydoğdu
Ortalama: 70.00
Harf Notu: C
--------------------
İsim: ahmet Aydoğdu
Ortalama: 67.80
Harf Notu: C
--------------------
İsim: ayça Aydoğdu
Ortalama: 41.40
Harf Notu: F
--------------------
İsim: mehmet Aydoğdu
Ortalama: 58.40
Harf Notu: D
--------------------
İsim: veli Aydoğdu
Ortalama: 64.00
Harf Notu: C
--------------------
İsim: zeki Aydoğdu
Ortalama: 64.00
Harf Notu: C
--------------------

In [28]:
harf_listesi = [harf for harf in "Python"]
harf_listesi

['P', 'y', 't', 'h', 'o', 'n']

In [30]:
kosul = True
kelime = "elma" if kosul else "Armut"
kelime

'elma'

In [31]:
kare_al = lambda x:x**2
kare_al(6)

36

In [39]:
sayilar = [1, 2, 3, 4, 5, 6, 7]

sayilarin_karesi=[kare**2 for kare in sayilar]
sayilarin_karesi

[1, 4, 9, 16, 25, 36, 49]

In [ ]:

def not_hesaplama():
    ad = input("Adınızı giriniz: ")
    puanlar = input("Puanları giriniz: ").split()
  
    toplam = 0
    
    for i in puanlar:
        toplam += int(i)
    ortalama = toplam/ len(puanlar)
    
    if ortalama > 90:
        harf = 'A'
    elif ortalama > 80:
        harf = 'B'
    elif ortalama > 60:
        harf = 'C'
    elif ortalama > 50:
        harf = 'D'
    else:
        harf = 'F'
        
    print(f"\nİsim: {ad}\nOrtalama: {ortalama:.2f}\nHarf notu: {harf}\n", end="-"*20)
    
not_hesaplama()

Adınızı giriniz:  recep

In [25]:
puanlar = input("puanlar: ")
print("split ile =      ", puanlar.split())
print("alındığı şekilde = ", puanlar)

puanlar:  30 40 50

split ile =       ['30', '40', '50']
alındığı şekilde =  30 40 50

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)

1.0.1

In [7]:
seri = pd.Series([1, 20, 3, -12, 5], index=["a", "b", "c", "d", "e"])
seri

a     1
b    20
c     3
d   -12
e     5
dtype: int64

In [13]:
data = {
    "isim" : ['Özge', 'Ahmet', 'Şirin', 'Mehmet'],
    "Tecrube" : [3, 0.5, 2.5, 1],
    "Maas" : [9000, 2500, 6500, 5000]
}

df = pd.DataFrame(data, columns = ["isim", "Maas"])
df

     isim  Maas
0    Özge  9000
1   Ahmet  2500
2   Şirin  6500
3  Mehmet  5000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   isim    4 non-null      object
 1   Maas    4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [18]:
df = pd.read_csv("./src/titanic_dataset/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
df.shape

(891, 12)

In [20]:
df.size

10692

In [21]:
df.ndim

2

In [22]:
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [26]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [28]:
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [29]:
df["Embarked"]

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [31]:
df.iloc[0,5]

22.0

In [32]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
df.drop([0,3,2,5]).head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S

In [40]:
df.Cabin.isnull()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [41]:
df.loc[3, "Age"]

35.0