# **Veri Bilimi İçin İstatistik**
## Örnek Teorisi!

Varsayalım ki bir ilçedeki kişilerin yaşlarına ilişkin bir çıkarımda bulunmak istiyoruz.  
Bu ilçedeki kişilerin yaş ortalamasını merak ediyoruz.  
Ama bu ilçede 10.000 kişi yaşıyor ve her birisiyle tek tek görüşmek çok da mümkün değil.  
Bu sebeple 10.000 kişinin hepsiyle görüşmek yerine bunun içerisinden 100 kişilik  
bir örneklem çekip, bu 100 kişinin yaş ortalamasını inceleyip, bu ilçenin yaş ortalamasının  
kaç olabileceğini tahmin etmek istiyoruz.

In [ ]:
import numpy as np

In [ ]:
populasyon = np.random.randint(0, 80, 10000)
#0-80 yas araliginda 10.000 kisi

In [ ]:
populasyon[:10] # ilk 10 kisinin yasi

array([33, 29, 57, 68, 44, 74, 79, 26, 43,  9])

#### Örneklem Çekimi

Öncelikle **seed** ayarı yapmamız lazım.  
**seed** ayarı ne demek?  
Yapılacak olan işlemlerin her tekrar edildiğinde aynı sonuçların getirilmesini  
garanti altına alan bir işlem.  
random.seed()'i eklemezsek, fonksiyonu her çalıştırdığımda farklı örneklemler çekmiş olacak.

In [ ]:
np.random.seed(115) #herhangi bir sayi verebilirsiniz.

orneklem = np.random.choice(a = populasyon, size=100)
#populasyon icerisinden 100 tane ornek cekme islemi.

orneklem

array([65,  0, 60, 11, 16, 35, 16, 26, 15,  6, 36, 32, 20, 63, 43, 12, 36,
       60, 33, 28, 79, 53, 28, 12, 29, 19, 27, 14, 45, 72, 73,  9, 64, 70,
       64, 24, 53,  2, 20, 44, 20,  2, 22, 60, 22, 34, 66, 12, 40, 22,  1,
       51, 53, 73, 24, 56, 66, 47, 38, 11, 34,  4, 14, 14, 11, 40, 74, 60,
       54, 32, 52, 20, 23, 48, 25, 73, 37, 25, 32, 17,  5,  0, 37, 25, 13,
       27,  4, 74, 63, 33,  4, 62,  0,  1, 19,  1,  6, 59, 50, 67])

Ana kitlemiz olan populasyon'da 10.000 gözlem vardı.  
Rastgele 100 gözlem çekerek örneklem oluşturduk.

In [ ]:
orneklem.mean()

33.73

In [ ]:
populasyon.mean()

39.2186

Örneklemin gücü burada çok açık bir şekilde dikkatimizi çekiyor.

#### Örneklem Dağılımı

In [ ]:
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size = 100)
orneklem2 = np.random.choice(a = populasyon, size = 100)
orneklem3 = np.random.choice(a = populasyon, size = 100)
orneklem4 = np.random.choice(a = populasyon, size = 100)
orneklem5 = np.random.choice(a = populasyon, size = 100)
orneklem6 = np.random.choice(a = populasyon, size = 100)
orneklem7 = np.random.choice(a = populasyon, size = 100)
orneklem8 = np.random.choice(a = populasyon, size = 100)
orneklem9 = np.random.choice(a = populasyon, size = 100)
orneklem10 = np.random.choice(a = populasyon, size = 100)

Birbirinden farklı 10 tane örneklem çekmiş olduk.

Örneklemlerin ortalamalarının, ortalamasını alıyoruz.

In [ ]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() 
+ orneklem6.mean() + orneklem7.mean() + orneklem8.mean() + orneklem9.mean() + orneklem10.mean() )  / 10

38.422

Normal şartlarda, daha fazla örneklem çekildiğinde, örneklemlerin ortalamasının ana kitle ortalamasına daha yakın olmasını bekleriz.

Merkezi limit teoremi aracılığı ile ana kitle ortalamasına gitmiş oluyoruz.

## Betimsel İstatistikler

Örneklerimizde Tips datasetini kullanacağız.

In [ ]:
#tips datasetini kullanacagiz.
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [ ]:
#yeni bir kütüphane kullanacağız.
import researchpy as rp

Yukarıda yapmış olduğumuz işlemi bir de benzer şekilde _researchpy_ kütüphanesi ile yapalım.  
_summary_cont_ işlevi ile sayısal değişkenleri seçeceğiz.

In [ ]:
rp.summary_cont(df[["total_bill", "tip", "size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

describe() ile benzer olsa da bizim için belki daha anlamlı olabilecek bazı değerler verdi.  
**N**: Gözlem sayıları  
**Mean**: Ortalama  
**SD**: Standart Sapma  
**95% Conf. Interval** Güven Aralıkları

Bir de bu işlemi categoric değişkenler için inceleyelim.

In [ ]:
rp.summary_cat(df[["sex", "smoker", "day"]]).T

              0       1       2      3      4      5      6     7
Variable    sex          smoker           day
Outcome    Male  Female      No    Yes    Sat    Sun   Thur   Fri
Count       157      87     151     93     87     76     62    19
Percent   64.34   35.66   61.89  38.11  35.66  31.15  25.41  7.79

Veri okuryazarlığından biraz daha farklı olarak betimsel istatistikleri farklı bir kütüphane ile ele almış olduk.  
Bu bölümün asıl farklılaştığı nokta olan **kovaryans** ve **korelasyon**'u da hızlıca bir ele alalım.

**Kovaryans**: Değişkenlerin ilişkilerine ilişkin bir değişkenlik ölçüsü.

**cov()** ile kovaryans hesaplaması yapabiliriz.

In [ ]:
df[["tip", "total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

**Korelasyon**: İki değişken arasındaki ilişki hakkında bilgi verici ölçü.

**corr()** ile korelasyon hesaplaması yapabiliriz.

In [ ]:
df[["tip", "total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

## İş Uygulaması: Fiyat Stratejisi Karar Destek Sistemi

Ürüne gelen fiyat teklifleri için veri toplandığını farzedelim.  
Şimdilik bu verileri kendimiz oluşturacağız.

In [ ]:
import numpy as np
# 10 ve 110 TL araliginde 1000 adet teklif
fiyatlar = np.random.randint(10, 110, 1000)

In [ ]:
fiyatlar.mean()
#Ortalama ödenmesi göze alınan miktar

59.294

Bunun etrafına bir güven aralığı koyarak çok daha zengin bir karar mekanizması oluşturmuş olacağız.  
Şimdi bunun için yeni bir kütüphane import edeceğiz.

In [ ]:
import statsmodels.stats.api as sms

In [ ]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(57.55186321697051, 61.036136783029484)

Müşterilerin %95'i 57-61 TL aralığında bedel ödemeyi göze almıştır.

# Olasılık Dağılımları

## Bernoulli Dağılımı

${\displaystyle f(k;p)=p^{k}(1-p)^{1-k}\quad {\text{for }}k\in \{0,1\}}$


${\displaystyle \operatorname {E} \left(X\right)=p}$

$\operatorname {Var} [X]=pq=p(1-p)$

Olasılık dağılımları ile ilgili işlemler için _scipy_ ismi verilen kütüphaneyi kullanıyoruz.

In [1]:
from scipy.stats import bernoulli

In [2]:
#p -> 2 sonuçlu bir olayı ifade ediyor. (Yazı Tura gibi)
p = 0.6 #Tura gelme olasılığı

In [3]:
rv = bernoulli(p)

In [4]:
rv.pmf(k = 1) #pmf -> probability mass function(olasılık kütle fonksiyonu)
# k = 1 -> Tura gelme olasılığını hesaplar

0.6

In [5]:
rv.pmf(k = 0) #yazı gelme olasılığını hesaplar

0.4

## Büyük Sayılar Yasası

Bir rassal değişkenin uzun vadeli kararlılığını tanımlayan olasılık teoremidir.

Düşünelim ki bir para atıyoruz, yazı yada tura gelme olasılığı %50'dir.  
Ancak 5 kez para attığımızı düşünelim 4 kez yazı 1 kez tura geldi.  
Tura gelme olasılığı %20 çıktı.

Biz bu deneyi sürekli atış sayısını arttırarak yapsaydık görmüş olacaktık ki,  
atış sayısı arttıkça oranlar %50'ye daha da yaklaşacaktı.

Şimdi biz bu durumu kendi yazdığımız küçük bir döngü aracılığıyla gözlemlemiş olacağız.

In [15]:
import numpy as np
rng = np.random.RandomState(123) # Yapılacak işlemleri sabitlemek için random state kullandik.
for i in np.arange(1,21): #1-20 arasinda gez
    deney_sayisi = 2**i
    yazi_turalar = rng.randint(0, 2, size=deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atış Sayısı:", deney_sayisi, "---", "Yazı Olasılığı: %.2f"%(yazi_olasiliklari*100))

Atış Sayısı: 2 --- Yazı Olasılığı: 50.00
Atış Sayısı: 4 --- Yazı Olasılığı: 0.00
Atış Sayısı: 8 --- Yazı Olasılığı: 62.50
Atış Sayısı: 16 --- Yazı Olasılığı: 43.75
Atış Sayısı: 32 --- Yazı Olasılığı: 46.88
Atış Sayısı: 64 --- Yazı Olasılığı: 56.25
Atış Sayısı: 128 --- Yazı Olasılığı: 50.78
Atış Sayısı: 256 --- Yazı Olasılığı: 52.73
Atış Sayısı: 512 --- Yazı Olasılığı: 52.93
Atış Sayısı: 1024 --- Yazı Olasılığı: 50.20
Atış Sayısı: 2048 --- Yazı Olasılığı: 48.58
Atış Sayısı: 4096 --- Yazı Olasılığı: 49.49
Atış Sayısı: 8192 --- Yazı Olasılığı: 49.58
Atış Sayısı: 16384 --- Yazı Olasılığı: 49.96
Atış Sayısı: 32768 --- Yazı Olasılığı: 50.00
Atış Sayısı: 65536 --- Yazı Olasılığı: 49.68
Atış Sayısı: 131072 --- Yazı Olasılığı: 49.97
Atış Sayısı: 262144 --- Yazı Olasılığı: 50.13
Atış Sayısı: 524288 --- Yazı Olasılığı: 50.01
Atış Sayısı: 1048576 --- Yazı Olasılığı: 50.09

## Binom Dağılımı

Binom dağılımı, bağımsız **n** deneme sonucu **k** başarılı olma olasılığı ile ilgilenildiğinde kullanılan dağılımdır.

${\displaystyle f(k;n,p)={n \choose k}p^{k}(1-p)^{n-k}}$, k = 0, 1, 2, ...,n


${\displaystyle \operatorname {E} (X)=np}$


${\displaystyle \operatorname {Var} (X)=np(1-p)}$

## İş Uygulaması: Reklam Harcaması Optimizasyonu

In [16]:
from scipy.stats import binom

In [18]:
p = 0.01 #bildiğimiz olasılık değerimiz
n = 100 #deneme sayısı
rv = binom(n, p)
print(rv.pmf(1)) #pmf=probability mass function. 1 kişinin tıklama olasılığı
print(rv.pmf(5)) # 5 kişinin tıklama olasılığı
print(rv.pmf(10)) # 10 kişinin tıklama olasılığı

0.36972963764971983
0.0028977871237616114
7.006035693977161e-08

## Poison Dağılımı

${\displaystyle f(x,\lambda )={\frac {\lambda ^{x}e^{-\lambda }}{x!}}\,\!}$,  x = 0,1,2,...,n

### İş Uygulaması: İlan Girişi Hata Olasılıklarının Hesaplanması

<img src="https://i.ibb.co/SQYR7Dc/Screenshot-1.jpg" alt="Screenshot-1" border="0">

In [1]:
from scipy.stats import poisson

In [2]:
lambda_ = 0.1 #ortalama hata sayısı

In [4]:
rv = poisson(mu = lambda_) #poisson fonksiyonunda mu parametresine lambda değerini veriyoruz.

print(rv.pmf(k = 0)) #hiç hata olmaması olasılığı
print(rv.pmf(k = 3)) #3 hata olması olasılığı
print(rv.pmf(k = 5)) #5 hata olması olasılığı

0.9048374180359595
0.00015080623633932676
7.54031181696634e-08

## Normal Dağılım