In [4]:
import pandas as pd

dictionary = {"Name" : ["ali", "veli", "ayse", "recep", "ayca", "serdar"], 
              "Age" : ["15", "22", "25", "22", "23", "22"]}

df = pd.DataFrame(dictionary)
df

     Name Age
0     ali  15
1    veli  22
2    ayse  25
3   recep  22
4    ayca  23
5  serdar  22